@model LibraryProject.Models.Model.Kitap

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<section role="main" class="content-body">
        

    @using (Html.BeginForm("Create", "Kitaps", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="row form-horizontal mt-2 mb-2">
            <div class="col-lg-12 bg-white">
                <h2 class=" text-color-dark">KİTAP EKLEME</h2>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.KitapSira, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 required">
                        @Html.EditorFor(model => model.KitapSira, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.KitapSira, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.KitapKodu, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 required">
                        @Html.EditorFor(model => model.KitapKodu, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.KitapKodu, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.KitapAd, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 required">
                        @Html.EditorFor(model => model.KitapAd, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.KitapAd, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Resim, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 required">

                        <input type="file" class="form-control" accept=".jpg,.jpeg,.png" name="Resim" />
                        <p class="alert-warning">400*400 Formatında Görsel Giriniz!!!</p>
                        @*@Html.EditorFor(model => model.Resim, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Resim, "", new { @class = "text-danger" })*@
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Aciklama, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <textarea class="form-control" name="Aciklama"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.BasimYil, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 required">
                        @Html.EditorFor(model => model.BasimYil, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.BasimYil, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.YayinEvi, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 required">
                        @Html.EditorFor(model => model.YayinEvi, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.YayinEvi, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Sayfa, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 required">
                        @Html.EditorFor(model => model.Sayfa, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Sayfa, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Durum, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.Durum)
                            @Html.ValidationMessageFor(model => model.Durum, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.KategoriId, "KategoriId", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 required">
                        @Html.DropDownList("KategoriId", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.KategoriId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.YazarId, "YazarId", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 required">
                        @Html.DropDownList("YazarId", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.YazarId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row form-group  mb-2">
                    <div class="col-md-1"><a class="btn btn-warning" href="/Kitaps/Index/">GERİ</a></div>
                    <div class="col-md-1"><button class="btn btn-info" type="submit">EKLE</button></div>
                </div>
            </div>
        </div>
    }


</section>